<ion-header>
  <ion-toolbar color="dark">
    <ion-icon slot="start" name="menu" size="large" class="ion-padding" (click)="verMenu()"></ion-icon>
    <ion-title>
      QR INGRESO A CLASES
    </ion-title>
    <ion-icon slot="end" name="person-circle-outline" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/fotoqr.PNG" class="ion-padding" size="large">
  <ion-button fill="outline" expand="block" (click)="asis()">Comprobar QR de asistencia</ion-button>
</ion-content>